<h2>Events</h2>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
      <%= "#{event.date}, #{event.location}" %>
    </li>
  <% end %>
</ul>

<%= render 'common/event_links' %>

<%= render 'common/devise_links' %>
